* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  background-color: rgb(26, 76, 110);
  width: 80%;
  height: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
}

.questions, .answers {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
  width: 45%;
}

.question1, .question2, .question3, 
.answer1, .answer2, .answer3 {
  background-color: #572289;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.arrow {
  position: absolute;
  width: 80%;
  height: 2px;
  background-color: green;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.arrow span {
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: green;
  transform: rotate(45deg);
  top: -5px;
  right: -5px;
}
